body {
    background-color: #2f3035;
    background-image: url(https://raw.githubusercontent.com/Mcjokki/Bing.watching/main/3ad5917bd34e4f1f0423766e2e962586.jpg%20bakgrunn%20sup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conteiner2 {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    text-align: center;
    width: 1024px;
    height: 118px;
}

nav {
    background-color: rgba(0, 0, 0, 0.397);
}

main {
    background-color: rgba(235, 227, 243, 0.247);
    height: 500px;
    width: 1024px;
}
h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}
